@import url('https://fonts.google.com/specimen/Poppins');
* {
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: rgb(3, 25, 32);
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(160, 9, 9);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

header.h1 {
    font-size: 50em;
}

section {
    width:950px ;
    background-color: rgb(245, 239, 239);
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px;
    border-radius: 25px;
}

section.h2 {
    color: turquoise;
    font-size: 1.8em;
    margin-bottom: 10px;
}
section.h3 {
    color: turquoise;
    font-size: 1.8em;
    margin-bottom: 10px;
}
section.p {
    font-size: 1.2em;
    line-height: 1.6;    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(44, 151, 184);
}

ul {
    list-style: none;
    padding-left: 0;
}

ul.li {
    margin-bottom: 10px;
}

ul.li.a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
footer{
    text-align: center;
    background-color: rgb(160, 9, 9);
    color: white;
    padding-top: 10px ;
    padding-bottom:10px ;
}